APP_NAME=Store Locator Service
APP_ENV=development
SECRET_KEY=change_me
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=postgresql+psycopg2://yutingbu@localhost:5432/store_locator
REDIS_URL=redis://localhost:6379/0
CORS_ORIGINS=http://localhost:3000,http://localhost:8000
GEOCODING_PROVIDER=nominatim
